<%= form_with do |f| %>
    <p>
        <h4>Customer Username: </h4> 
        <%= f.text_field :username %>
    </p>


        <p>
            <h4>Testing Site ID: </h4> 
            <%= f.text_field :testingSiteId %>
        </p>


    <p>
        <h4>Start Time: </h4> 
        <%= f.datetime_local_field :startTime %>
    </p>
    <p>
        <h4>Notes: </h4> 
        <%= f.text_area :notes %>
    </p>

    <% if flash[:notice] != nil %>
        <% flash[:notice].each do |msg| %>
            <div>
                <%= msg %>
            </div>
        <% end %>
    <% end %>

    <p>
        <%= f.submit "Make Booking" %>
    </p>

<% end %>