<h1>Check Booking Status</h1>

<%= form_with do |f| %>

    <p>
        Booking PIN or ID:  
        <%= f.search_field :pin_or_id %>
    </p>

    <% flash.each do |type, msg| %>
    <div>
        <h6>
            <%= msg %>
        </h6>
    </div>
    <% end %>


    <p>
        <%= f.submit "Search" %>
    </p>

<% end %>

<% if @booking %>
    <h1>Booking Details</h1>
    <br>
    <%= render(:partial => "layouts/booking", :locals => {:booking => @booking})%>
    <br>

    <h3>Previous Changes</h3>
    <% if not @booking.additionalInfo[:mementos].nil? and not @booking.additionalInfo[:mementos].empty? %>
        <%= render(:partial => "profile/booking_memento_table", :locals => {:booking => @booking, :mementos => @booking.additionalInfo[:mementos]})%>
    <% else %>
        <p>No Previous Changes</p>
    <% end %>


    <div class="container">
        <% if ![BookingStatus::Cancelled, BookingStatus::Lapsed].include? @booking.status %>
            <%= link_to "Modify", profile_modify_path(@booking.id, fromSearch: true), class: "btn btn-secondary", method: :get%>
            <% if (not @booking.additionalInfo[:mementos].nil? and not @booking.additionalInfo[:mementos].empty?) and @booking.additionalInfo[:undoCount] < 3 %>
                <br><%= link_to "Undo", profile_undo_path(@booking.id, fromSearch: true), class: "btn btn-secondary", method: :get%>
            <% end %>
            <br><%= link_to "Cancel", profile_cancel_path(bookingId: @booking.id, fromSearch: true), class: "btn btn-secondary", method: :get%>
        <% end %>
    </div>

<% end %>